.ql-snow .ql-stroke, .ql-snow .ql-stroke-miter {
    stroke: #f1e6e6;
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
    fill: #f1e6e6;
}

.ql-snow .ql-picker {
    color: #f1e6e6;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    background: #2e3a47;
}